html{
    background-color:white;
}
.header{
 background-color: lightcoral;
}
body{
    background-color: lightgreen;
}
.nav{
    height: 35px;
    width: 100%;
    float:inline;

}
.nav li{
    color: brown;
}
.container{
    grid-row: auto;
}