html{
    background-color:white;
}
header{
 background-color:lightblue;
 border: 1px solid grey;
}
body{
    background-color:rgb(250, 250, 250);
}
.nav{
    height: 35px;
    width: 100%;
    float:inline;

}
.nav li{
    color: brown;
}
.container{
    grid-row: auto;
}
footer{
    border: 1px;
    background-color:lightskyblue;
    height: 160px;
    width: 100%;
    padding-top: 15px;
}
h1{
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:black;
    padding-top: 5px;
}
address{
    padding-left:25px;
}
h2{
    padding-top: 5px;
    padding-left: 25px;
    font-size: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.logo{
 float: left;
 padding-bottom: 20px;
 padding-top: 15px;
 padding-left: 25px;
 height: 60%;
 
 
}

