html{
    background-color:white;
}
.header{
 background-color: lightcoral;
 border: 1px solid;
}
body{
    background-color:rgb(226, 226, 231);
}
.nav{
    height: 35px;
    width: 100%;
    float:inline;

}
.nav li{
    color: brown;
}
.container{
    grid-row: auto;
}